.button-dark{
    background-color: black !important;
    color: white;
    box-shadow: 10px 10px white;
}

.button-light{
    background-color: lightblue !important;
}

.panel-dark{
    background-color: gray;
}