.button-example{
    border: 0px;
    padding: 15px 32px;
    text-align: center;
    box-shadow: 10px 10px;
    border-radius: 50px;
    margin: 10px;
}

.button-example:active {
    box-shadow: 5px 5px;
    transform: translateY(5px) translateX(5px);
}

.button-example-green:active{
    background-color: lightgreen;
}